body {
   color: beige;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4d0000;
    background: url(https://wallpapers.com/images/hd/garden-roses-pictures-l39p4r5vlrlrv6jz.jpg);
}
.container {
    background: rgb(140, 43, 43);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 249, 249, 0.1);
}
input {
    display: block;
    width: 90%;
    margin: 10px 0;
    padding: 10px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #610a0a;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #713a3a;
}
